# Ignore bytecode files and directories.
*.pyc
**/__pycache__/
**.class

# Ignore packaging and distribution directories.
build/
dist/
src/*.egg-info

# Ignore my settings file, but not the snippets file.
.vscode/settings.json

# Ignore my virtual environment.
everyenv/*